<launch>
  <arg
    name="desiredNS"
    default="private"
  />
  <arg
    name="pubFrqHz"
    default="10"
  />
  <node
    name="talkerNode"
    pkg="beginner_tutorials"
    type="talker"
    ns="$(arg desiredNS)"
  >
    <param name="messageFrqHz" value="$(arg pubFrqHz)"/>
  </node>
  <node
    name="listenerNode"
    pkg="beginner_tutorials"
    type="listener"
    ns="$(arg desiredNS)"
  />
</launch>
